.card {
  background-color: black;
  width: 11vw;
  border-radius: 10px;
  border: 1px solid black;
  position: relative;
  padding-top: 56.25%;
}
.card:hover {
  cursor: pointer;
  border: 1px solid gold;
}
